<div class="recruitment">
  <div class='upper-recruitment' >
    <div class="recruitment_game_title_date">
    <div class="recruitment-game-title">
      <%= recruitment.game_title %>
    </div>
    <div class="recruitment-date">
      <!-- 投稿した時刻を出力する -->
      投稿日時<%= l recruitment.created_at %>
    </div>
    </div>
    <div class="recruitment-content">
      <%= recruitment.title %>
    </div>
    <div class="recruitment_user">
      <%= link_to "#", class: :recruitment_user do%>
      <%= recruitment.user.nickname %>
      <%end%>
    </div>
    <% if user_signed_in? && current_user.id == recruitment.user_id %>
    <%= link_to '削除', recruitment_path(recruitment.id), method: :delete %>
    <%= link_to '編集', "#" %>
    <% else %>
    <%= link_to 'いいね', "#" %>
    <% end %>
  </div>
</div>