<div class="recruitment">
  <div class='upper-recruitment' >
    <div class="recruitment_game_title_date">
    <div class="recruitment_game_title">
      <%= recruitment.game_title %>
    </div>
    <div class="recruitment-date">
      <!-- 投稿した時刻を出力する -->
      投稿日時<%= l recruitment.updated_at %>
    </div>
    </div>
    <div class="recruitment-content">
      <%= recruitment.title %>
    </div>
    <div class="recruitment_user">
      <%= link_to recruitment.user.nickname, user_path(recruitment.user.id), class: :recruitment_user %>
    </div>
    <% if user_signed_in? && current_user.id == recruitment.user_id %>
    <%= link_to '削除', recruitment_path(recruitment.id), method: :delete %>
    <%= link_to '編集', edit_recruitment_path(recruitment.id) %>
    <% else %>
    <%= link_to 'いいね', "#" %>
    <% end %>
  </div>
</div>