<%= render "shared/header" %>
</body>
  <div class="main">
    <%= render "shared/side_bar" %>
    <div class="main_page">
      <h3>投稿フォーム</h3>
      <%= form_with model: @recruitment, local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>

        <h4>ゲームタイトル（必須）</h4>
        <%= f.text_field :game_title, class:'game_title' %>
        <h4>募集概要（必須）</h4>
        <%= f.text_area :title, class:'title' %>
        <div>
        <%= f.submit '変更する' %>
        </div>
      <% end %>
    </div>
  </div>
</body>