<%= render "shared/header" %>
</body>
  <div class="main">
    <%= render "shared/side_bar" %>
      <div class="user_detail">
        <div>
          <div>
            <table class="detail-table">
              <tbody>
                <tr>
                  <th class="detail-item">ニックネーム</th>
                  <td class="detail-value"><%= @user.nickname %></td>
                </tr>
                <tr>
                  <th class="detail-item">誕生日</th>
                  <td class="detail-value"><%= @user.birthday %></td>
                </tr>
                <tr>
                  <th class="detail-item">性別</th>
                  <td class="detail-value"><%= @user.gender %></td>
                </tr>
                <tr>
                  <th class="detail-item">お気に入りのゲーム</th>
                  <td class="detail-value"><%= @user.favorite_game_title %></td>
                </tr>
                <tr>
                  <th class="detail-item">自己紹介文</th>
                  <td class="detail-value"><%= @user.self_introduction %></td>
                </tr>
               </tbody>
            </table>
          </div>
        <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to "プロフィール、パスワードの編集", edit_user_registration_path, class:"item-destroy" %>
        <% elsif user_signed_in?%>
        <div class="user_page_chat">
        <%=form_with url: "/rooms", model: @room, local: true do |f|%>
          <div class='chat-room-form__field'>
            <div class='chat-room-form__field--left'>
              <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
            </div>
            <div class='chat-room-form__field--right'>
              <select required name="room[user_ids][]">
                <option value=<%= @user.id %>><%= @user.nickname %></option>
              </select>
              <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
            </div>
          </div>
          <div class='chat-room-form__field'>
            <div class='chat-room-form__field--left'></div>
            <div class='chat-room-form__field--right'>
              <%= f.submit "チャットルーム作成する", class: 'chat-room-form__action-btn'%>
            </div>
          </div>
        <% end %>
        </div>
        <% end %>
        </div>
      </div>
  </div>



</body>