<%= render "shared/header" %>
</body>
  <div class="main">
    <div class="left_bar">
      <%= link_to "投稿する", new_recruitment_path, class: :main_menu %>
    </div>
      <div class="user_detail">
        <div>
          <div>
            <table class="detail-table">
              <tbody>
                <h3><%= @user.nickname %>さんのページ</h3>
                <tr>
                  <th class="detail-item">誕生日</th>
                  <td class="detail-value"><%= @user.birthday %></td>
                </tr>
                <tr>
                  <th class="detail-item">お気に入りのゲーム</th>
                  <td class="detail-value"><%= @user.favorite_game_title %></td>
                </tr>
                <tr>
                  <th class="detail-item">自己紹介文</th>
                  <td class="detail-value"><%= @user.self_introduction %></td>
                </tr>
               </tbody>
            </table>
          </div>
        </div>

        <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to "プロフィール、パスワードの編集", edit_user_registration_path, class:"item-destroy" %>
        <% end %>

  <% unless @user.id == current_user.id %>     <%#現在ログインしているユーザーではない場合%>
   <% if @haveRoom == true %>    <%#既にルームが作成されている場合は%>
     <%= link_to "ダイレクトメッセージ", room_path %>    <%#そのチャットルームに遷移するボタンを表示%>
   <% else %>
     <%= form_with model: @room, local: true do |f|%>    <%#roomsテーブルに情報を送信%>
       <%= fields_for @RoomUser do |r| %>    <%#room_usersテーブルに情報を送信%>
         <%= r.hidden_field :user_id, value: @user.id %>  <%#room_usersテーブルにuser_idを含める%>
       <% end %>
       <%= f.submit "チャットを始める" %>
     <% end %>
   <% end %>
<% end %>

      </div>
  </div>



</body>